<div class="row" style="background-color: rgba(27, 48, 87, 0.322);">
<div class="container">
    <div class="col-md-4 offset-md-4">
        <div style="top:15%">
        <img src="./../../assets/6Px64.jpg" width="175px" height="175px" style="border-radius: 100px;"/>
        </div>
        <br>
        <div style="display: inline-block;">
            <a href="https://twitter.com/AMandwarya" target="_blank"><span style="margin-left:5px; display: inline-block; border-radius: 100px; font-size: 45px;"><img src="./../../assets/23931.png" width="40px" height="40px"/></span></a>
                <a href="https://www.linkedin.com/in/ashay-mandwarya-7094a9a4/" target="_blank"><span style="margin-left:5px; display: inline-block; border-radius: 100px; font-size: 45px;"><img src="./../../assets/61109.png" width="40px" height="40px"/></span></a>
                    <a href="https://stackoverflow.com/users/story/6766919" target="_blank"><span style="margin-left:5px; display: inline-block; border-radius: 100px; font-size: 45px;"><img src="./../../assets/stackoverflow_rounded-512.png" width="40px" height="40px"/></span></a>
                        <a href="https://github.com/7ellipsis" target="_blank"><span style="margin-left:5px; display: inline-block; border-radius: 100px; font-size: 45px;"><img src="./../../assets/mark-github-512.webp" width="40px" height="40px"/></span></a>
                            <a href="https://medium.com/@ashaymurceilago" target="_blank"><span style="margin-left:5px; display: inline-block; border-radius: 100px; font-size: 45px;"><img src="./../../assets/unnamed.png" width="40px" height="40px"/></span></a>
        </div>
        <br>
        <p>This is Ashay Mandwarya and I developed thhis web-app. As already it is evident that the app is a music streamer and it uses Spotify as the source of thhe tracks. 
            You can almost do all the functions you can on Spotify(Atleast those features which are made public via the Spotify API). 
            Enjoy and be sure to leave a feedback. It is still buggy but will give a nice experience to the users.
            You can contact me on ashaymandwarya9696@gmail.com. Suggestions are welcome.
        </p>
    </div>
</div>
</div>