html{
    background-color: black;
    color: beige;
  }
  .card-body
  {
    background-color: black;
    
  }
  div{
    background-color: black;
  }
  .scrolling-wrapper
  {
    background-color: black;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #main {
    transition: margin-left 1s;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }  

  .scrolling-wrapper {
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
  }
    .cards {
      display: inline-block;
    }
    .profile-img-container {
      position: relative;
      display: inline-block; /* added */
      overflow: hidden; /* added */
      
      border: 0px;
      
  }
  .profile-img-container:hover a {
      opacity: 1; /* added */
      top: 0; /* added */
      z-index: 500;
     background: black;
     opacity: 0.6;
  }
  /* added */
  .profile-img-container:hover a i {
      top: 50%;
      position: absolute;
      left: 0;
      right: 0;
      transform: translateY(-50%);
  }

  /* added */
  .profile-img-container a {
      display: block;
      position: absolute;
      top: -100%;
      opacity: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;
      color: inherit;
  }
  
  .carousel-inner>.item {
    -webkit-transition: -webkit-transform 5.2s ease-in-out !important;
    -o-transition: -o-transform 5.2s ease-in-out !important;
    transition: transform 5.2s ease-in-out !important;
}
#colora {
  background: linear-gradient(-45deg,black, #ee5252, #e73c7e, #160286, #074fbd);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}