<div>
    <div class="alert alert-dark xalert" id="follow1" role="alert" style="position: relative;">
        Followed!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-danger xalert" id="unfollow1" role="alert" style="position: relative;">
        UnFollowed!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="container-fluid" id="main">
        <div class="row">
            <div class="col-lg-4" id="cover" [ngStyle]="{'background-image': 'url(' +this.albumImage+ ')'}"
                style="background-size: cover;  background-position: center;overflow: hidden; margin:0; padding:0">
                <p style="font-size: 40px; padding-left: 14px;" class="content">album</p>
            </div>
            <div class="col-lg-8" style="height: 100vh;overflow-x:auto;margin:0; width: 100%;">
                <div [ngStyle]="{'background-image': 'url(' +this.albumImage+ ')'}"
                    style="background-size: cover;  background-position: center;margin:0; padding:0" class="sticky-top">
                    <div class="content">
                        <p style="font-size: 60px;">{{albumName}}</p>
                        <span style="font-size: 15px; padding-left: 2%;">{{albumArtist}}</span>
                        <span style="font-size: 12px; padding-left: 2%;">Duration: {{albumTime}}</span>
                        <span style="font-size: 12px; padding-left: 2%;">{{album.length}} Tracks</span>
                        <span style="float: right;"> <input type="text" class="btn btn-primary" [(ngModel)]="searchText"
                                placeholder="search tracks" /></span><br>
                        <span class="heart" (click)="like(albumURI,'e')" *ngIf="!albumFollowed"></span>
                        <span class="heart heart-blast" (click)="dislike(albumURI,'e')" *ngIf="albumFollowed"></span>
                        <span style="width: 100px; height: 100px;" id="fa"><i class="fa fa-play"
                                style="font-size: 30px;position: absolute;top:50%;left:75%" aria-hidden="true"
                                (click)="albumplay(albumURI)"></i></span>
                        <hr id="colora" style="height: 1px;">
                    </div>

                </div>
                <div>
                    <p style="font-size: 40px;">tracks</p>
                    <ul class="list-group list-group-flush">
                        <li style="background-color: black; border-bottom-color:gold ;font-size: large;"
                            class="list-group-item" *ngFor="let list of album; let i=index">{{list['name']}}
                            <p style="color: grey;">
                                <small>
                                    <i class="fa fa-play" aria-hidden="true" (click)="play(list['uri'])"> </i>
                                    <span> {{list['artists'][0]['name']}} <i class="fa fa-circle"
                                            style="font-size: 4px;" aria-hidden="true"></i></span>
                                    <span> {{albumName}}</span> <span style="margin-left: 15%;"> <a (click)="addtoq(list['uri'])">
                                            <i class="fa fa-plus" aria-hidden="true"></i>Queue<br></a></span>
                                    <span style="float: right;">{{list['duration_ms']}}</span>
                                    <span class="hearta" id=a+{{i}} #one (click)="like(list['uri'],one)"
                                        *ngIf="!list['liked']"></span>
                                    <span class="hearta heart-blasta" id=b+{{i}} #two (click)="dislike(list['uri'],two)"
                                        *ngIf="list['liked']"></span>

                                </small>
                            </p>
                        </li>
                        <li style="background-color: black; border-bottom-color:gold ;font-size: large;"
                            class="list-group-item" *ngIf="nextalbumuri">
                            <p style="color: grey; text-align: center;" (click)="nextalbumsongs()"><i
                                    class="fa fa-angle-down" style="font-size: 40px;" aria-hidden="true"></i></p>
                        </li>
                    </ul>
                </div>
                <br><br>
            </div>
        </div>

    </div>