<div class="justify-content-center align-items-center vertical-center">
<form class="justify-content-center align-items-center " style="border: solid 2px grey; border-radius: 20px; color:white; width:20%; margin: auto; top:50%;">
    <div class="text-center form-group" style="font-size: 3rem;"><i class="fa fa-leaf"
            aria-hidden="true"></i>thyme</div>
    <div class="form-group text-center">
        <button class="btn btn-warning" id="artist" (click)=login() style="left:50%;">Login</button><br><br><br>
    <span style="color:green">Inspired By:</span><br>
    <a href="https://www.spotify.com" target="_blank"><img src="./../../assets/Spotify_Icon_RGB_White.png" width=15px height=15px/></a>
    </div>
</form>
</div>